/* Main Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

header {
    position: relative;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #444;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 3px;
}

section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.8em;
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #444;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

/* ------------- Projects List Styles ------------- */
.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.projects-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.projects-item img {
    width: 100%;
    height: auto;
    display: block;
}

.projects-item a {
    text-decoration: none;
    color: #333;
}

/* ------------- Case Studies List Styles ------------- */
.case-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.case-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 224px;
    text-align: center;
}

.case-item img {
    width: 100%;
    height: auto;
    display: block;
}

.case-item a {
    text-decoration: none;
    color: #333;
}

/* ------------- Bookshelf List Styles ------------- */
.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.book-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 224px;
    text-align: center;
}

.book-item img {
    width: 100%;
    height: auto;
    display: block;
}

.book-item a {
    text-decoration: none;
    color: #333;
}

/* ------------- Contact Button Styles ------------- */
.contact-button {
    position: relative;
    left: 313px;
    bottom: 40px;
    background-color: #eec34d;
    color: #2b2b2b;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.contact-button:hover {
    background-color: #8a712e;
    color: #f0f0f0;
}

/* ------------- Schedule Button Styles ------------- */
.schedule-button {
    position: relative;
    left: 220px;
    bottom: 10px;
    background-color: #eec34d;
    color: #2b2b2b;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color .5s ease, border-color 0.5s ease;
}

.schedule-button:hover {
    background-color: #8a712e;
    color: #f0f0f0;
}

/* ------------- Contact Form Styles ------------- */
#contact-form {
    background: #f9f9f9;
    padding: 10px;
    padding-bottom: 50px;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#contact-form label {
    font-weight: bold;
    color: #333;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#contact-form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
}

#contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}